body { background-color:#C2EFF0 }


p{
	color: white;
	font-weight: bold;
}

#menu {
	font-weight: bold;
}
footer, h1, h2, .menu {
	text-align: center
}

.author, .title, .info, .introduction {
	color: #000000 ;
}

footer {
	color: #C01480;
	font-weight: bold;
}

nav#menu{
	float:top-left;
	width:33%
}

div#connexion 
{	
	float:right;
	width: 33%
}

div#center{
	overflow=hidden;
}
